* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: clamp(12px, 1vw + 0.5vh, 18px);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.box {
  padding: 1em;
  text-align: center;
}

.box1, .box7 { background: #dae6f6; }
.box2, .box6 { background: #f2f6e8; }
.box3 { background: white; }
.box4, .box5 { background: #f8ece2; }

.box1, .box7 {
  width: 100%;
  height: 7.4%;
  position: relative;
  min-height: 40px;
}

.middle {
  display: flex;
  flex: 1;
}

.left-col {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 150px;
}

.center-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box4 {
  width: 15%;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box5 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 > div {
  text-align: center;
}

.box3 ol, .box5 ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  margin: 0;
}

.x, .y {
  position: absolute;
  padding: .2em .5em;
  font-weight: bold;
  font-size: clamp(16px, 2vw, 24px);
}

.box1 h3 {
  top: 3%;
}

.x { top: 3%; right: 1%; }
.y { bottom: 15%; right: 1%; }