* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: clamp(12px, 1vw + 0.5vh, 18px);
}

.container {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr minmax(150px, 15%);
  grid-template-rows: auto auto 1fr auto auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.box {
  padding: 1em;
  text-align: center;
}

.box1, .box7 { background: #dae6f6; }
.box2, .box6 { background: #f2f6e8; }
.box3 { background: white; }
.box4, .box5 { background: #f8ece2; }

.box1 { grid-column: 1 / 4; grid-row: 1; }
.box2 { grid-column: 1; grid-row: 2; }
.box3 { grid-column: 2; grid-row: 3; }
.box4 { grid-column: 3; grid-row: 2 / 5; }
.box5 { grid-column: 1; grid-row: 3 / 5; }
.box6 { grid-column: 2; grid-row: 4; }
.box7 { grid-column: 1 / 4; grid-row: 5; }

.x, .y {
    position: absolute;
    padding: .2em .5em;
    font-weight: bold;
    font-size: clamp(16px, 2vw, 24px);
}

.x { top: 1%; right: 1%; }
.y { bottom: 1%; right: 1%; }

.box3, .box4, .box5 {
  display: grid;
  place-items: center;
}

.box3 ol, .box5 ul {
  text-align: left;
  margin-left: 0;
  list-style-position: inside;
}

.box3 > div {
  justify-items: center;
  display: grid;
}
